{% extends "tasks/base.html" %}
   
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Создать задачу</h2>
                <form action="/new/" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="form-label">Заголовок</label>
                        <input id="title" type="text" class="form-control" name="title">
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Текст обращения</label>
                        <input id="message" type="text" class="form-control" name="message">
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Заголовок</label>
                        <input id="authors" type="text" class="form-control" name="authors">
                    </div>

                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}