{% extends "tasks/base.html" %}
   
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-center text">Статистика заявок</h3>
                <div class="text-center">
                    <a href="https://datalens.yandex/fyqflicc0kzo2">Аналитика заказов</a>
                </div>
                <h4>Количество заявок: {{ task_count }}</h4>
                <h4>Количество Пользователей: {{ user_count }}</h4>
                <h4>Количество закрытых заявок: {{ task_count }}</h4>
            </div>
        </div>
    </div>
{% endblock %}