{% extends "tasks/base.html" %}
   
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                    <h4 class="text-center text">Заявка №{{ task.pk }}</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Электронная почта: {{ task.authors }}</h5>
                        <h5 class="card-title">Статус: {{ task.closed }}</h5>
                        <h5 class="card-title">Дата подачи заявки: {{ task.created|date:'d.m.Y H:i' }}</h5>
                        <p class="card-text">{{ task.message }}</p>
                        <a href="/" class="btn btn-primary">На главную</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}